<div class="header">
  <div class="header-label">New Buyer Inquiry</div>
  <div class="header-title"><%= @lead.first_name %> <%= @lead.last_name %></div>
</div>

<div class="body">
  <div class="section-title">Contact</div>
  <div class="card">
    <div class="field-row">
      <span class="field-label">Name</span>
      <span class="field-value"><%= @lead.first_name %> <%= @lead.last_name %></span>
    </div>
    <div class="field-row">
      <span class="field-label">Email</span>
      <span class="field-value"><%= @lead.email %></span>
    </div>
    <div class="field-row">
      <span class="field-label">Company / Builder</span>
      <span class="field-value"><%= @lead.company %></span>
    </div>
    <div class="field-row">
      <span class="field-label">Submitted</span>
      <span class="field-value"><%= @submitted_at.strftime("%B %-d, %Y at %-I:%M %p %Z") %></span>
    </div>
    <% if @location.present? %>
    <div class="field-row">
      <span class="field-label">Location</span>
      <span class="field-value"><%= @location %></span>
    </div>
    <% end %>
  </div>
</div>
